@model BookListViewModel
<div class="row">
    <div class="col-md-8">
        <h1>
            @ViewData["Title"]
            @if (this.User.IsInRole(nameof(Role.Administrator)))
            {
                <a class="btn btn-outline-primary btn-sm" asp-action="Create"><i class="fa fa-plus"></i> Add new book</a>
            }
        </h1>
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <form asp-controller="Books" asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" name="search" placeholder="Search..." value="@Model.Input.Search" />
                <div class="input-group-append">
                    <button class="input-group-text"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5"><order-link order-by="Title" Input="@Model.Input">Title</order-link></div>
    <div class="col-md-2"><order-link order-by="Rating" Input="@Model.Input">Rating</order-link></div>
    <div class="col-md-2"><order-link order-by="CurrentPrice" Input="@Model.Input">Price</order-link></div>
    <div class="col-md-2"></div>
</div>
@foreach (BookViewModel book in Model.Books.Results)
{
    <partial name="Books/_BookLine" model="@book" />
}
<vc:pagination-bar model="@Model"></vc:pagination-bar>
